<!doctype html>
{% extends 'base.html' %}
    {% block title %}Already Out!{% endblock %}

        {% block body %}
        <br>
        <br>
        <br>
        <br>
        <!-- card for quiz -->
        <div class="row row-cols-1 row-cols-md-3 g-3">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Take this short quiz to find cocktails compatiable to you!</h5>
                <p class="card-text"> Out for a night on the town? Can't decide what to order? We've got you covered!</p>
              </div>
              <form id="quiz">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quizmodel">
                    Quiz Me!
                </button>
              </form>
            </div>
            </div>
            <!-- card for random cocktail -->
            <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Cocktail Routlette</h5>
                <p class="card-text">Have us choose a random cocktail for you! Want to make a spontaneous choice? Live a bit on the edge? Try out this feature!</p>
              </div>
              <form id="random">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#randommodel">
                    Random Cocktail!
                </button>
              </form>
            </div>
            </div>
            <!-- card for routlette -->
            <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Shot Routlette</h5>
                <p class="card-text">This is our danger game, proceed with caution.</p>
              </div>
              <form id="roulette">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#routlettemodel">
                    Do Me Dirty!
                </button>
              </form>
            </div>
            </div>
        </div>

        <!-- Quiz Model -->
        <div class="modal fade" id="quizmodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="quizTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="q1">What is your perferred cocktail strength?</h5>
                    <h5 class="modal-title d-none" id="q2">What are your perferred cocktail flavors?</h5>
                    <h5 class="modal-title d-none" id="q3">What are your perferred spirits?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/quiz" id="quiz-questions" method="post">
                    <div class="modal-body" id="question-content1">
                    </div>
                    <div class="modal-body d-none" id="question-content2">
                    </div>
                    <div class="modal-body d-none" id="question-content3">
                    </div>
                    <br>
                    <div id='buttons' class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="exit">Close</button>
                      <button type="button" class="btn btn-primary" id="next">Next Question</button>
                      <button type="submit" class="btn btn-primary d-none" data-bs-target="#s-modal" data-bs-toggle="modal"
                        data-bs-dismiss="modal" id="submit-quiz">Submit Quiz</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <!-- random model -->
        <div class="modal fade" id="randommodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title center" id="exampleModalLongTitle">Cocktail Roulette</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body card-text" id="random-contents">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="favorite" data-bs-dismiss="modal">Add to Favorites!</button>
                </div>
              </div>
            </div>
          </div>

          <!-- roulettle model -->
          <div class="modal fade" id="routlettemodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title center" id="exampleModalLongTitle">Shot Routlette</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body card-text" id="routlette-contents">
                  ...
                </div>
              </div>
            </div>
          </div>
          
      <!-- Quiz result model -->
          <div class="modal fade" id="s-modal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title center" id="exampleModalLabel">Drink Suggestions</h5>
                  <a href="/goingout"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
                </div>
                <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-3 g-4" id="suggestionbody">
                </div>
                </div>
                <div class="modal-footer">
                  <a href="/goingout"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
                </div>
              </div>
            </div>
          </div>
      
      <!-- confirm add favorite model -->
<div class="modal fade" id="addfav" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="drinktitle">Add Favorite</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add this Cocktail to Favorites?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addfavorite" data-bs-dismiss="modal">Add Favorite!</button>
      </div>
    </div>
  </div>
</div>
        {% endblock %}
        
    {% block js %}
    <script type="text/javascript" src="/static/outevents.js"></script>
    {% endblock %}