<!doctype html>
{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <div class="dot center">
        <br>
        <br>
    <h1 class="htext" style="font-weight: bold; font-size: 50px;">Welcome to<br> Shaken Not Stirred!</h1>
    <h5 class="htext"><i>An all you need resource for all things "Cocktail"</i></h5><br>
    <h5 class="htext"><i>Boss driving you crazy? Overbearing Mother-in-law?<br> Kids making you think of investing in earplugs?<br><br>
    Whatever the reason you need a drink,<br>We've got you covered!</i></h5>

    </div>
<style>
    .dot {
        height: 450px;
        width: 550px;
        background-color:rgba(112, 4, 4, 0.751);;
        border-radius: 50%;
        border-color: rgb(244, 183, 84);
        border-width: 5px;
        border-style: double;
      }
      .sdot {
        height: 75px;
        width: 75px;
        background-color:rgba(149, 13, 13, 0.807);;
        border-radius: 50%;
        border-color: rgb(21, 1, 1);
        border-width: 5px;
        border-style: double;
      }
</style>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/homepage.js"></script>
{% endblock %}