<!doctype html>
{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <h1 class="text-center"> This Page Is Intentionally Blank</h1>
    <h3 class="text-center">(For Now)</h3>
    <div class="modal" id="age" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Over 21</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p>This page is for Adults 21+</p>
            <p>Accessing this page requires you are of legal drinking age.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I am 21+</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/homepage.js"></script>
{% endblock %}