<!doctype html>
{% extends 'base.html' %}
{% block title %}Want To Go Out!{% endblock %}

{% block body %}
<br>

<div class="card text-center w-75 center">
  <div class="card-body">
    <h5 class="card-title">Use Google maps to find a Cocktail Bar/Club/Lounge near you!</h5>
    <div class="form-group card-text"><label>What is Your Location?</label>
      <input type='text' class='form-control' id='search_input' placeholder="Type City, Street, or Address..." />
      <input type='hidden' id='latitude_input' />
      <input type='hidden' id='longitude_input' />
    </div>
    <br>
  </div>
</div>
<br>
<style>
#search_input {font-size:18px;}
.form-group{
    margin-bottom: 10px; margin: top 50px;
}
</style>


    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 95%;
        width: 85%;
        text-align: center;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    </style>
    <div class="center" id="map"></div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places&callback=initMap">
</script>

{% endblock %}

