<!doctype html>
<title>Stayin In</title>
    <head>
    <h1>SHAKEN NOT STIRRED</h1>
    </head>
    <body>
        <p> Decided to stay in tonight? We've got you covered!</p>
        <form id="search_cocktail" method="POST">
            <p>Would you to search a cocktail?</p>
            <label for ='search'>Search Here</label>
            <input type="text" name='drink_input' id="drink_input">
            <input type= "submit">
        </form> 
        <br>
        <br>
        <br>
        <div id="cocktail_result"></div>
    </body>
<script type="text/javascript" src="/static/events.js"></script>