<!doctype html>
{% extends 'base.html' %}

{% block title %}Staying In{% endblock %}
{% block body %}

<br>
<br>
<br>
<br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <!-- card for search cocktail -->
  <div class="col">
  <div class="card center" style="max-width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Already know what you want to make?</h5>
      <p class="card-text">Search a cocktail to find out what you'll need to make it!</p>
    </div>
      <form id="search_cocktail" method="POST">
        <input class='center textbox' type="text" name='drink_input' id="drink_input">
        <br>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchcocktail">
          Search Cocktail
        </button>
      </form>
  </div>
  </div>
  <!-- card for homebar -->
  <div class="col">
    <div class="card center" style="max-width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Let's see what cocktails you can whip up at home!</h5>
      <p class="card-text">This feature allows you to select the ingredients you already have at home,
        and display what you are capable of making!
      </p>
      <br>
    </div>
      <form id="make_cocktail" method="POST">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#makecocktail">
          Select Your Ingredients
        </button>
      </form>
  </div>
  </div>
</div>
 

<!-- Search cocktail result model -->
<div class="modal fade" id="searchcocktail" tabindex="-1" role="dialog" aria-labelledby="searchcocktailTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title card-text center" id="cocktail-name">Waiting on Results</h5>
        <button type="button" class="close" data-bs-dismiss="modal" onClick="window.location.reload()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-text" id='ingredients'>
        ...Waiting on Results...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="favorite" data-bs-dismiss="modal">Add to Favorites!</button>
      </div>
    </div>
  </div>
</div>

<!-- Make Cocktail Model -->
<div class="modal fade" id="makecocktail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
        <h5 class="modal-title center" id="q1">What spirits do you have?</h5>
        <h5 class="modal-title d-none center" id="q2">What cordials do you have?</h5>
        <h5 class="modal-title d-none center" id="q3">What ingredients do you have?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="make-questions">
        <div class="modal-body" id="question-content1">
          <div> 
            <input type="checkbox" name="ingred" value='Gin' id="gin">
            <label for="gin">Gin</label>
          </div>
          <div>
            <input type="checkbox" name="ingred" value='Tequila' id="tequila">
            <label for="tequila">Tequila</label>
          </div>
          <div id="rums">
            Rums:
          </div>
          <div id="vodka">
            Vodkas:
          </div>
          <div id="whiskeys">
            Whiskeys and similar:
          </div>
        </div>
        <div class="modal-body d-none" id="question-content2">
        </div>
        <div class="modal-body d-none" id="question-content3">
        </div>
      <div id='buttons' class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="exit">Close</button>
        <button type="button" class="btn btn-primary" id="next">Next Question</button>
        <button type="button" class="btn btn-primary d-none" data-bs-target="#s-modal" data-bs-toggle="modal"
          data-bs-dismiss="modal" id="submit-make">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Drink Suggestion Model -->
<div class="modal fade" id="s-modal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center" id="exampleModalLabel">Drink Suggestions</h5>
        <a href="/stayin"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
      </div>
      <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
      <div class="modal-body">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="suggestionbody">
      </div>
      </div>
      <div class="modal-footer">
        <a href="/stayin"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
      </div>
    </div>
  </div>
</div>

<!-- confirm add favorite model -->
<div class="modal fade" id="addfav" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 center" id="drinktitle">Add Favorite</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body card-text">
        Are you sure you want to add this Cocktail to Favorites?
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addfavorite" data-bs-dismiss="modal">Add Favorite!</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="/static/inevents.js"></script>
{% endblock %}